@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p><br/>
<h5 style="color:cornflowerblue">@System.Diagnostics.Process.GetCurrentProcess().ProcessName</h5>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
