@page "/counter"

<h5>Cascading value will be set to all the parameters which matches string type.</h5>

<hr/>
<p>Cascading Parameter One: @FirstFruit </p>
<p>Parameter Value from Parent: @SecondFruit </p>

@code {

    [CascadingParameter]
    public string FirstFruit { get; set; }

    [Parameter]
    public string SecondFruit { get; set; }

}