@page "/lifecycle"

<h3>All LifeCycle Methods</h3>



@code {

    protected override void OnInitialized()
    {

    }

    protected override void OnParametersSet()
    {

    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
            CallStateHasChanged();
    }

    protected override bool ShouldRender()
    {
        return true; // Based on the boolean value it indicate if a component UI can be rendered
    }

    private void CallStateHasChanged()
    {
        StateHasChanged(); //It triggers the page to re-render.
    }

}
