<h4>Cascading Value</h4>

<CascadingValue Value="@TableName">
    <Insurance></Insurance>
    <ListInsurance></ListInsurance>
</CascadingValue>

@code {

    [Parameter]
    public string TableName { get; set; }

    protected override void OnInitialized()
    {
        
    }

}
