@page "/insurance"

<h3>Insurance</h3>

<EditForm Model="@insurance" OnInvalidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>InsSubNr*</label>
    <InputNumber id="InsSubNr" @bind-Value="@insurance.InsSubNr"/>

    <button type="submit">Submit</button>

</EditForm>

@code {
    private EDINS insurance = new EDINS();

    private void HandleValidSubmit()
    {

    }

}
