@page "/listemployeesAsCard"
@inherits ListEmployeeBase
@attribute [Authorize]

<div class="card">
    @foreach (EmployeeInformation employee in EmployeeDetails.ListEmployee)
    {
        <div class="card">
            <img src="Images/img_avatar.png" alt="Employee Details" style="width: 100%">
            <div class="container">
                <h4>@employee.EmployeeName</h4>
                <p>@employee.Department</p>
                <p>@employee.City</p>
            </div>
        </div>
    }
</div>
