@page "/transientcomponent"
@inject TransientService transientService

<h4>Transient Component</h4>

<div class="alert alert-danger">
    Random Guid Number: @transientService.RandomGuid
</div>

@code {


}
