@page "/"
@namespace BlazorAppJavaScriptInterop.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BlazorAppJavaScriptInterop</title>
    <base href="~/"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>

    <script src="Script/JSInteropexample.js"></script>
    <script src="Script/RenderHTMLElement.js"></script>
    <script src="Script/JSEventListener.js"></script>
    <script src="Script/JSInvokeCSharpMethod.js"></script>
    @*<script>
        function CSMethod()
        {
            DotNet.invokeMethodAsync('BlazorAppJavaScriptInterop', 'CSCallBackMethod');
        }
    </script>*@
</head>
<body>
<app>
    @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
</app>

<script src="_framework/blazor.server.js">
</script>
</body>
</html>